@media screen and (max-width: 700px){
    html{
        overflow: hidden;
    }
    body{
        overflow: auto;
        height:100%;
        width: 100vw;
    }
    .App{
        height: 100%;
        padding: 20px;
        overflow: auto;
    }
    .grid{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0;
    }
    .Header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .Current {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .DetailedDaily {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .DetailedHourly {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}