@media screen and (max-width: 700px){
    html{
        overflow: hidden;
    }
    .App{
        height: 100%;
        padding: 20px;
        overflow: auto;
    }
    .grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 80px auto auto auto;
        height: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .Header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .Current {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .DetailedDaily {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .DetailedHourly {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .Tab{
        width: 98%;
    }
}